# Ejercicio 1: Transformar cadenas

In [7]:
text = """Interesting facts about the Moon. The Moon is Earth's only satellite. There are several interesting facts about the Moon and how it affects life here on Earth. 
On average, the Moon moves 4cm away from the Earth every year. This yearly drift is not significant enough to cause immediate effects on Earth. The highest daylight temperature of the Moon is 127 C."""

In [8]:
text_div = text.split('.')
text_div

['Interesting facts about the Moon',
 " The Moon is Earth's only satellite",
 ' There are several interesting facts about the Moon and how it affects life here on Earth',
 ' \nOn average, the Moon moves 4cm away from the Earth every year',
 ' This yearly drift is not significant enough to cause immediate effects on Earth',
 ' The highest daylight temperature of the Moon is 127 C',
 '']

In [10]:
words = ['average', 'temperature', 'distance']

In [21]:
for frase in text_div:
    for word in words:
        if word in frase:
            print(frase)

On average, the Moon moves 4cm away from the Earth every year
 The highest daylight temperature of the Moon is 127 C

In [27]:
for frase in text_div:
    for word in words:
        if word in frase:
            print(frase.replace('C', 'Celsius'))

On average, the Moon moves 4cm away from the Earth every year
 The highest daylight temperature of the Moon is 127 Celsius

# Ejercicio 2: Formateando Cadenas

In [94]:
name ="Moon"
gravity = 0.00162 # in kms
planet = "Earth"

In [78]:
titulo = "La gravedad de la {}\n".format(name).title()
titulo

'La Gravedad De La Moon\n'

In [70]:
plantilla = f"""------------------------------------
Nombre del planeta: {planet} 
Gravedad en la {name}: {gravity * 1000} m"""
print(plantilla)

------------------------------------
Nombre del planeta: Earth
Gravedad en la Moon: 1.6199999999999999 m

In [86]:
#Opcion uno de union

union = titulo + plantilla 
print(union)

La Gravedad De La Moon
------------------------------------
Nombre del planeta: Earth
Gravedad en la Moon: 1.6199999999999999 m

In [87]:
#Opcion uno de union

union_f = f'{titulo}{plantilla}'
print(union_f)

La Gravedad De La Moon
------------------------------------
Nombre del planeta: Earth
Gravedad en la Moon: 1.6199999999999999 m

Ahora usa información de una luna diferente para ver si la plantilla todavía funciona.

Datos muestra:

planeta = 'Marte '
gravedad  = 0.00143
nombre = 'Ganímedes'

In [96]:
name ="Ganímedes"
gravity = 0.00143 # in kms
planet = "Marte"

In [ ]:
print(union)

In [97]:
titulo = "La gravedad de la {}\n".format(name).title()

plantilla = f"""------------------------------------
Nombre del planeta: {planet} 
Gravedad en la {name}: {gravity * 1000} m"""

union_f = f'{titulo}{plantilla}'
print(union_f)

La Gravedad De La Ganímedes
------------------------------------
Nombre del planeta: Marte
Gravedad en la Ganímedes: 1.4300000000000002 m

# Prueba de otra  froma de solucinar

In [101]:
# Nuevos datos muestra
planet = 'Marte '
gravity  = 0.00143
name = 'Ganímedes'

In [112]:
new_template = """
Datos de Gravedad sobre: {name}
-------------------------------------------------------------------------------
Nombre del planeta: {planet}
Gravedad en {name}: {gravity} m/s2
"""

Datos de Gravedad sobre: Ganímedes
-------------------------------------------------------------------------------
Nombre del planeta: Marte
Gravedad en Ganímedes: 0.00143 m/s2

In [114]:
print(new_template.format(name=name, planet=planet, gravity=gravity * 1000))

Datos de Gravedad sobre: Ganímedes
-------------------------------------------------------------------------------
Nombre del planeta: Marte
Gravedad en Ganímedes: 1.4300000000000002 m/s2

In [117]:
planet = 'Sturno '
gravity  = 0.00283
name = 'Titan'

In [118]:
print(new_template.format(name=name, planet=planet, gravity=gravity))

Datos de Gravedad sobre: Titan
-------------------------------------------------------------------------------
Nombre del planeta: Sturno
Gravedad en Titan: 0.00283 m/s2